<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div style="width: 100%; height: 100%; ">
	        <script type="text/javascript" src="../static/js/sewise.player.min.js"></script>
		    <script type="text/javascript">
		    var searchStr=location.search;
			searchStr=searchStr.substr(1);
			var videourl=searchStr.split("=");
			console.log(videourl[1]);
			var tmpurl=videourl[1];
			var parameters={
				server: 'vod',
				type: 'mp4',
				streamurl: videourl[1],
		        skin: "vodWhite",
		        title: "回顾",
		        lang: 'zh_CN',
			}
			console.log(parameters);
			    SewisePlayer.setup(parameters);
		</script>
</div>
</body>
</html>